*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    font: 62.5%/1.5 'pancetta_proregular';
    color: #000;
    height: 100% !important;
}

body{
    font: 2.1rem/3rem "pancetta_proregular";
    background: url("../images/bg/background@2x.jpg") repeat 0 0 / 50px 50px;
    height: 100%;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

a{
    text-decoration: none;
    color: #000000;
}

a:visited{
    color: inherit;
}

.align-left{
    float: left;
}

.align-right{
    float: right;
}

/*   Fonts kit*/

@font-face {
    font-family: 'pancetta_proitalic';
    src: url('../fonts/pancetta_pro_italic/mint_type_-_pancetta_pro_italic-webfont.eot');
    src: url('../fonts/pancetta_pro_italic/mint_type_-_pancetta_pro_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pancetta_pro_italic/mint_type_-_pancetta_pro_italic-webfont.woff') format('woff'),
    url('../fonts/pancetta_pro_italic/mint_type_-_pancetta_pro_italic-webfont.ttf') format('truetype'),
    url('../fonts/pancetta_pro_italic/mint_type_-_pancetta_pro_italic-webfont.svg#pancetta_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pancetta_proregular';
    src: url('../fonts/pancetta_pro_regular/mint_type_-_pancetta_pro_regular-webfont.eot');
    src: url('../fonts/pancetta_pro_regular/mint_type_-_pancetta_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pancetta_pro_regular/mint_type_-_pancetta_pro_regular-webfont.woff') format('woff'),
    url('../fonts/pancetta_pro_regular/mint_type_-_pancetta_pro_regular-webfont.ttf') format('truetype'),
    url('../fonts/pancetta_pro_regular/mint_type_-_pancetta_pro_regular-webfont.svg#pancetta_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pancetta_serif_proitalic';
    src: url('../fonts/pancetta_serif_pro_italic/mint_type_-_pancetta_serif_pro_italic-webfont.eot');
    src: url('../fonts/pancetta_serif_pro_italic/mint_type_-_pancetta_serif_pro_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pancetta_serif_pro_italic/mint_type_-_pancetta_serif_pro_italic-webfont.woff') format('woff'),
    url('../fonts/pancetta_serif_pro_italic/mint_type_-_pancetta_serif_pro_italic-webfont.ttf') format('truetype'),
    url('../fonts/pancetta_serif_pro_italic/mint_type_-_pancetta_serif_pro_italic-webfont.svg#pancetta_serif_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pancetta_serif_proregular';
    src: url('../fonts/pancetta_serif_pro_regular/mint_type_-_pancetta_serif_pro_regular-webfont.eot');
    src: url('../fonts/pancetta_serif_pro_regular/mint_type_-_pancetta_serif_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pancetta_serif_pro_regular/mint_type_-_pancetta_serif_pro_regular-webfont.woff') format('woff'),
    url('../fonts/pancetta_serif_pro_regular/mint_type_-_pancetta_serif_pro_regular-webfont.ttf') format('truetype'),
    url('../fonts/pancetta_serif_pro_regular/mint_type_-_pancetta_serif_pro_regular-webfont.svg#pancetta_serif_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'grot_cyrilic';
    src: url('../fonts/grot_cyrilic/skniga43-webfont.eot');
    src: url('../fonts/grot_cyrilic/skniga43-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/grot_cyrilic/skniga43-webfont.woff') format('woff'),
    url('../fonts/grot_cyrilic/skniga43-webfont.ttf') format('truetype'),
    url('../fonts/grot_cyrilic/skniga43-webfont.svg#grot_cyrilic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*   Primary style*/

.global-carousel{
    height: 100%;
    position: relative;
    width: 100%;
}
.front-slide,
.carousel-content{
    height: 100%;
    position: relative;
    overflow: hidden;
}
    .carousel-content{
        background-size: cover;
        padding: 0 80px;
        position: relative;
    }
    .carousel-content:after{
        content: "";
        width: 42px;
        height: 68px;
        position: absolute;
        right: 20px;
        bottom: 0;
        background: url("../images/bg/all@2x.png") no-repeat 0 -255px / 200px 400px;
    }
    .front-slide_image{
        left: 0;
        max-width: inherit;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
    }
    .shadow-overlay_wrapper{
        height: 100%;
        position: relative;
        left: 0;
        top: 0;
        width: 1160px;
    }
    .shadow-overlay{
        min-height: 100%;
        min-width: 100%;
        max-width: inherit;
        position: absolute;
    }
        .logo{
            height: 54px;
            width: 199px;
            position: absolute;
            left: 7.6%;
            top: 45.5%;
        }

/*  Carousel content*/

.carousel-content .firstly-header{
    height: 202px;
    letter-spacing: 0.4px;
    line-height: 218px;
}
.carousel-content header{
    height: 82px;
    line-height: 87px;
}
    .internal-logo{
        font: 3.5rem/4rem 'grot_cyrilic';
        color: #e55a41;
        display: inline-block;
    }
    .current-section{
        font: 1.2rem/2rem 'pancetta_proregular';
        text-transform: uppercase;
        color: #d7b39d;
        letter-spacing: 2.5px;
    }
.carousel-content table{
    width: 100%;
    text-align: justify;
}
    table td.col{
        width: 48.3%;
        float: right;
    }
    table td.col:first-child{
        float: left;
    }
        .carousel-content p{
            word-spacing: -1.4px;
        }
            .word-bg{
                background: #e4ccb4;
                padding: 0 2px 0 3px;

                -webkit-transition: all 1s linear;
                -moz-transition: all 1s linear;
                -ms-transition: all 1s linear;
                -o-transition: all 1s linear;
                transition: all 1s linear;
            }
            .custom-letter{
                font: 0px/0 a;
                float: left;
                width: 27px;
                height: 150px;
                position: relative;
            }
            .custom-letter:after{
                background: url("../images/bg/costom-v@2x.png") no-repeat scroll 0 0 / 84px 275px rgba(0, 0, 0, 0);
                content: "";
                height: 275px;
                left: -61px;
                position: absolute;
                top: -26px;
                width: 114px;
            }
        .align-center {
            display: inline-block;
            text-align: center;
            width: 100%;
        }
        .content-figure {
            text-align: center;
        }
            .content-figure img{
                border: 1px solid #d9c4af;
                margin: 6px 0 14px;
                padding: 4px;
                display: inline-block;
            }
.page-decor_a{
    background: url("../images/bg/all@2x.png") no-repeat scroll 0 -202px / 200px 400px;
    display: block;
    height: 27px;
    left: 0;
    margin: auto;
    position: relative;
    width: 123px;
}
.page-decor_b{
     background: url("../images/bg/all@2x.png") no-repeat scroll 0 -101px / 200px 400px;
     display: block;
     height: 85px;
     left: 0;
     margin: 55px auto 0;
     position: relative;
     width: 85px;
 }
footer{
    margin: 32px 0 0;
}

/*  Last slide*/

.animate_label{
    text-align: center;
    height: 100%;
    width: 100%;
    font: 16px/16px 'pancetta_proregular';
    color: #ffffff;
    position: relative;
    z-index: 2;
}
    .animate_label tbody{
        opacity: 0;
        -webkit-transform: translateX(0);
    }
        .animate_label td{
            vertical-align: middle;
        }
            .animate_label i{
                display: inline-block;
                font: 16px/16px 'pancetta_serif_proitalic';
                letter-spacing: 2.8px;
                margin: 0;
                position: relative;
                top: -14px;
            }
            .animate_label strong{
                border: 5px solid #ffffff;
                display: inline-block;
                font: 30px/63px 'pancetta_proregular';
                letter-spacing: 0.2px;
                margin: 0 0 31px;
                padding: 0 22px;
                position: relative;
                text-transform: uppercase;
                top: 5px;
                text-shadow: 0 3px 8px rgba(0, 0, 0, 1);
            }
            .animate_label a{
                border-bottom: 1px solid #ffffff;
                display: inline-block;
                font: 17px/33px 'pancetta_proregular';
                letter-spacing: 2.4px;
                padding: 0 5px;
                text-transform: uppercase;
                color: #ffffff;
            }

/*  Internal Slider style*/

.internal-carousel_wrapper{
    padding: 0 0 0 4px;
    border-left: 1px solid #d9c4af;
    width:48%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
    .twin{
        height: 100%;
        width: 100%;
        position: relative;
        display: block;
        border: 0;
        padding: 0;
        z-index: 1;
        opacity: 1;
    }
    .full-carousel_wrapper{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        opacity: 0;
        z-index: 1;
        right: -100%;
        -webkit-transition: opacity .3s ease-in;
        -moz-transition: opacity .3s ease-in;
        -ms-transition: opacity .3s ease-in;
        -o-transition: opacity .3s ease-in;
        transition: opacity .3s ease-in;
    }
    .twin li[class*="item"]{
        height: 100%;
        background-size: cover;
    }
        .twin .item-1{
            background-image: url("../images/src/gallery/ancient-antioch-reconstruction-2.jpg");
        }
        .twin .item-2{
            background-image: url("../images/src/gallery/ancient-antioch-reconstruction-1.jpg");
        }
        .twin .item-3{
            background-image: url("../images/src/gallery/robert-hubert.jpg");
        }
        .twin .item-4{
            background-image: url("../images/src/gallery/landscape-with-a-herd.jpg");
        }
            .twin .owl-controls{
                position: absolute;
                bottom: 0;
                height: 66px;
                left: inherit;
                right: 0;
                width: 100%;
                background: url("../images/bg/pagination-bg.png") repeat-x;
            }
                .twin .owl-pagination {
                    text-align: center;
                }
                    .twin .owl-pagination .owl-page{
                        background: url("../images/bg/all@2x.png") no-repeat scroll 6px -362px  rgba(0, 0, 0, 0);
                        background-size: 200px 400px;
                        display: inline-block;
                        height: 9px;
                        padding: 10px;
                        width: 9px;
                    }
                    .twin  .owl-page.active{
                        background-position: 6px -334px;
                    }
.fix-container{
    background: url("../images/bg/globe-icon@2x.gif") no-repeat scroll right 0 / 44px 44px rgba(0, 0, 0, 0);
    height: 44px;
    position: absolute;
    right: 22px;
    top: 22px;
    width: 100%;
    z-index: 1;
}
    .sphere{
        width: 44px;
        height: 44px;
        float: right;
        font: 0px/0 a;
        z-index: 9999;
    }
.control-container{
    position: absolute;
    top: 0;
    right: 0;
    width: 48%;
    z-index: 1;
}
    .full-carousel_control{
        width: 29px;
        height: 29px;
        position: absolute;
        left: 30px;
        top: 30px;
        background: url("../images/bg/open.close.png") no-repeat 0 0 ;
        background-size: 29px 58px;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        z-index: 12;
    }
    .full-carousel_control.closeCarousel{
        background: url("../images/bg/open.close.png") no-repeat 0 -29px;
        background-size: 29px 58px;
        z-index: 99;
    }

/*  Description popup*/

.desc_popup .fancybox-skin{
    background: #fffbe2;
    border-radius: 8px;
}
    .popup-content p{
        overflow: hidden;
    }
    .popup-content img{
        padding: 4px;
        border: 1px solid #d9c4af;
    }
    .popup-content strong{
        font-family: 'pancetta_serif_proregular',serif;
        font-weight: bold;
    }
        .popup-content .align-right{
             margin: 3px 0 3px 15px;
        }
        .popup-content .align-left{
            margin: 3px 15px 3px 0;
        }

/*  Full screen popup*/

.fancybox-type-image .fancybox-close{
    background: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.fancy_full{
    display: block;
    width: 100%;
    height: 100%;
}

/*  Google-map popup*/

.gmnoprint img{
    max-width: inherit;
}
.gm-style-cc[draggable="false"]{
    display: none;
}

/*  Last page animation*/

.animate{
    height: 100%;
    overflow: hidden;
    position: relative;
}
    .animate li[class*="item"]{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-size: cover;
    }
    .animate .item-1{
        background-image: url("../images/src/gallery/battle-of-kircholm.jpg");
    }
    .animate .item-2{
        background-image: url("../images/src/gallery/the-dutch-in-indonesia.jpg");
    }
    .animate .item-3{
        background-image: url("../images/src/gallery/jamestown.jpg");
    }
    .animate .item-4{
        background-image: url("../images/src/gallery/ernst-lissner.jpg");
    }
    .animate .item-5{
        background-image: url("../images/src/gallery/expansion.jpg");
    }
    .animate-item.item-2,
    .animate-item.item-3,
    .animate-item.item-4,
    .animate-item.item-5{
        left: 100%;
    }
        .animate_break{
            min-width: 1024px;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
            .left-half,
            .right-half{
                width: 50%;
                height: 100%;
                float: left;
                background: url("../images/src/gallery/expansion_left.jpg") no-repeat 0 0;
                background-size: cover;
            }
            .right-half{
                background-image: url("../images/src/gallery/expansion_right.jpg");
            }

/*  Last page inner slider*/

.animate_carousel{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/*   Helper css*/

.overlap{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    font: 0px/0 'pancetta_serif_proregular',serif;
}
.overlap:after{
    content: "";
    width: 1px;
    height: 1px;
    position: absolute;
    left: 0;
    background: url('../images/bg/fancybox_overlay.png');
}
.transition{
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.opacity{
    opacity: 1;
}

.hidden{
    display: none;
}


/* Media Queries */

@media screen and (max-height: 767px) {
    body{
        line-height: 2.9rem;
    }
    .carousel-content .firstly-header{
        height: 154px;
        line-height: 170px;
    }
    .carousel-content header {
        height: 70px;
        line-height: 77px;
    }
    .content-figure img{
        max-width: 370px;
    }
    footer{
        margin: 25px 0 0;
    }
}

@media screen and (max-height: 671px) {
    body{
        line-height: 2.6rem;
    }
    .carousel-content .firstly-header{
        height: 150px;
        line-height: 170px;
    }
    .carousel-content header {
        height: 70px;
        line-height: 80px;
    }
    .content-figure img{
        max-width: 331px;
    }
    footer{
        margin: 15px 0 0;
    }
}