@media only screen and (max-width: 1025px){
    input[type='text'],
    textarea{
        -webkit-border-radius: 0;
        background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0,0%,100%,0)), to(hsla(0,0%,100%,0)));
        background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
    }
    table{
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    }
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
    .header__logo h1 a:before,
    .sprite-basket,
    .sprite-menu-bl,
    .field__wrapper input[type="submit"],
    .contact-numbers dl:before,
    .categories__title h3:before,
    .styled-select p:after,
    .discount-code a,
    .sprite-select-arrow-sml,
    .custom-select p:after,
    .shopping-cart table b:before,
    .bonus-table .sub-list:after,
    .sprite-radio,
    .shipping-method-table input[type="radio"] + label strong:before,
    .shipping-method-table input#trackable[type="radio"] + label strong:before,
    .sprite-checkbox,
    .shopping-cart__footer .sprite-basket,
    .sprite-checkmark,
    .sprite-fire,
    .instruction-use h2:after{
        background-image: url("../images/bg/all@x2.png");
    }
}

@media only screen and (max-width: 479px){
    html{
        font: 70%/1.5 'open_sansregular';
    }

    /* Sticky Footer */

    .global--wrap {
        margin-bottom: -181px;
    }
    .footer-panel, .global--wrap:after{
        height: 181px;
    }
    .personal-basket .sum{
        right: -4px;
        top: -4px;
    }
    .header__logo h1 a:before{
        background-position: -76px -450px;
    }
    .personal-basket .sprite-basket{
        background-position: -69px -103px;
    }
    .sprite-menu-bl{
       background-position:  -76px -495px
    }
    .field__wrapper input[type="submit"]{
        background-position: -70px -677px;
    }
    .contact-numbers dl:before{
        background-position: -76px -561px;
    }
    .owl-pagination .owl-page{
        background-position: -78px -274px;
    }
    .owl-pagination .owl-page.active{
        background-position: -78px -43px;
    }
    .categories__title h3:before{
        background-position: -76px -533px;
        margin-top: -0.59rem;
    }
    .styled-select p:after{
        background-position: -76px -757px;
    }
    .discount-code a{
        background-position: -76px -644px;
    }
    .sprite-select-arrow-sml{
        background-position: -76px -342px;
        height: 11px;
        width: 11px;
    }
    .custom-select p:after{
        background-position: -76px -729px;
        width: 5px;
        height: 22px;
    }
    .shopping-cart table b:before{
        background-position: -76px -870px;
    }
    .bonus-table .sub-list:after{
        background-position: -76px -729px;
        width: 5px;
        height: 6px;
    }
    .sprite-radio{
        background-position: -76px -302px;
        width: 15px;
        height: 16px;
    }
    .shipping-method-table input[type="radio"]:checked + label .sprite-radio,
    .select-quantity input[type="radio"]:checked + label i{
        background-position: -76px -71px;
    }
    .shipping-method-table input[type="radio"] + label strong:before{
        background-position: -76px -612px;
        top: 1px;
    }
    .shipping-method-table input#trackable[type="radio"] + label strong:before{
        background-position: -76px -791px;
        top: 2px;
    }
    .sprite-checkbox{
        background-position: -76px -232px;
        height: 17px;
        width: 17px;
    }
    .shipping-method-table input[type="checkbox"]:checked + label .sprite-checkbox{
        background-position: -76px 0;
    }
    .shopping-cart__footer .sprite-basket{
        background-position: -76px -110px;
        width: 22px;
        height: 17px;
    }
    .sprite-checkmark{
        background-position: -76px -151px;
        width: 17px;
        height: 17px;
    }
    .sprite-checkmark.type-red{
        background-position: -76px -191px;
    }
    .sprite-fire{
        background-position: -76px -377px;
    }
    .instruction-use h2{
        padding: 0 2rem 0.1875rem 0;
    }
    .instruction-use h2:after{
        background-position: -76px -757px;
        margin-top: -0.4rem;
    }
    .instruction-use dt{
        margin: 0 0 .6rem;
    }
    .instruction-use dd{
        margin: 0 0 1.4rem;
    }
}

@media only screen and (max-width: 335px){
    .menu__header{
        font-size: 1.428rem;
    }
    .sprite-menu-bl{
        vertical-align: -1px;
    }
    .field__wrapper{
        width: 18.75rem;
        height: 2.94rem;
    }
    .field__wrapper input[type="text"]{
        width: 13.8rem;
    }
    .field__wrapper input[type="submit"]{
        background-position: -70px -678px;
    }
    .contact-numbers dd, .contact-numbers dt{
        font-size: 1.07rem;
    }
    .product-list__title{
        font-size: 1.45rem;
    }
    .categories ul li a{
        font: 1.18rem/2.43rem "open_sansregular";
    }
    .advantages .column{
        font: 1.31rem/1.36rem "ubuntumedium";
    }
    .advantages figure{
        max-width: 3rem;
        margin: auto;
    }
    .styled-select{
        width: 12.5rem;
    }
    .styled-select p{
        font-size: 1.09rem;
    }
    .size_type_big{
        width: 70%;
    }
    .captcha-picture{
        max-width: 90px;
    }
    .promo-banner{
        padding: 1rem 0;
    }
    .promo-banner strong{
        float: right;
        font: 0.9821rem/1.2rem 'ubuntubold';
        margin: 0 0 .1785rem;
        text-transform: uppercase;
        width: 47%;
    }
    .discount-code{
        font: .950rem/1.5rem "ubuntubold";
        padding: 0.2rem 0;
        width: 12.4rem;
        height: 6em;
        clear: both;
        float: right;
    }
    .discount-code b{
        font: 2.085rem/1.5rem "ubuntubold";
    }
    .discount-code a{
        font: 1.071rem/1.142rem "open_sansregular";
        background-position: -76px -645px;
    }
    .promo-banner p{
        font-size: .982rem;
        line-height: 1.169rem;
        float: none;
        max-width: 48%;
    }
    .el_type_hidden{
        display: none;
    }
    .product-table td:first-child{
        width: 46%;
    }
    .shopping-cart table{
        font-size: .892rem;
    }
    .shopping-cart strong{
        font-size: .982rem;
    }
    .font_type_green-bold{
        font-size: 1.07rem;
    }
    .shopping-cart table b{
        font-size: .982rem;
        line-height: 1.272rem;
        padding: .454rem 0 .272rem 1.325rem;
    }
    .shopping-cart table b:before{
        top: 38%;
    }
    .global-table h4{
        font: 1rem/1rem "open_sansbold";
    }
    .bonus-table td:first-child img{
        max-width: 65%;
    }
    .shipping-method-table input[type="radio"] + label{
        padding: 0.875rem 0.8rem 0.875rem 1.0625rem;
    }
    .shipping-method-table input[type="radio"] + label strong{
        font: 1.09rem/1rem "open_sansbold";
        margin: 0 0 0 0.5rem;
        padding: 0 0 0 1.9rem;
    }
    .shipping-method-table input[type="radio"] + label strong:before{
        top: -1px;
    }
    .shipping-method-table input#trackable[type="radio"] + label strong:before{
        top: 0px;
    }
    .shipping-method-table strong span{
        font: 1.09rem/1rem "open_sansbold";
    }
    .discount-table dt{
        font-size: 1.09rem;
    }
    .select-quantity tfoot dl{
        width: 60%;
    }

}